<footer class="footer foot-bottom py-2">
<div class="f-info">
<div class="f-info-social">
    <i class="fa-brands fa-square-facebook"></i>
    <i class="fa-brands fa-square-instagram"></i>
    <i class="fa-brands fa-linkedin"></i>
</div>
<div> <i class="fa-regular fa-copyright"></i> <b>NestHopper private limited</b></div>
<div class="f-info-links">
    <a href="#"> Privacy  </a>
    <a href="#"> Terms</a>
</div>

</div>
<footer>
