<% layout('layouts/boilerplate.ejs') -%>

<body>
    <br>
    <h1 class="col-8 offset-2" > Login </h1>
    <br>
   <div id="login" class="col-8 offset-2 ">
    <form method="POST" action="/login" class="needs-validation" novalidate>
        <div>
            <label class="form-label" for="username">Username</label>
            <input required class="form-control" id="username" type="text" name="username">

        </div>
        <br>
        <div>
            <label class="form-label" for="password">Password</label>
            <input required class="form-control" id="password" type="password" name="password">
        </div>
        <br>
        <button class="btn btn-primary"> Login </button>

    </form>

   </div >
</body>
